<form action="/admin/produto/add" method="POST">
<div class="viewd">
    <div class="divcl">
        <h1>Cadastro de Usuários</h1/>
        <hr>
        <label for="nome_prod" class="lb">Usuários: </label>
        <input type="text" name="produto" id="prod_nome" placeholder="Nome do Produto" class="inpt">
        <label for="qtd" class="lb">Senha: </label>
        <input type="number" name="quantidade" id="prod_qtd" placeholder="Quantidade em Estoque" class="inpt">
        <button type="submit" class="btn" >Cadastrar</button>
    </div>
</div>
</form>