<div class="content">
    <div class="card">
        <h1>CONFIGURAÇÃO</h1/>
        <p >teste asbhdbhsadfhjbfkjsd fdsjkafjkjdshfksdjkf huiadsh f bdsafhkjasdh fhdaskjf sadjfbjhdsfkbsadkjfbsaduhfkjsadhfusadhfhsdaufdsaujhbui</p>
    </div>
</div>