

    <div class="content">
      <div class="card">
    <h1>teste index</h1/>
    <p >teste asbhdbhsadfhjbfkjsd fdsjkafjkjdshfksdjkf huiadsh f bdsafhkjasdh fhdaskjf sadjfbjhdsfkbsadkjfbsaduhfkjsadhfusadhfhsdaufdsaujhbui</p>
    </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
      $('.nav_btn').click(function(){
        $('.mobile_nav_items').toggleClass('active');
      });
    });
    </script>
